.colors{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.textcontainers{
    padding-top: 45vh;
}

#graysection{
    background-color:$gray;
}

#redsection{
    background-color:$red;
}

#bluesection{
    background-color:$blue;
}

#violetsection{
    background-color: $violet;
}

#yellowsection{
    background-color: $yellow;
}